:root {
  --white: #fff;
  --orange: #ffa500;
  --primary: #0a0c21;
  --secondary: #2e3192;
}

.homepage {
  padding: 0px 60px;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  padding: 20px 0px 0px 0px;
}

nav > img {
  width: 3.5em;
  height: 3.5em;
  margin-right: 10px;
}

.logo {
  font-weight: 400;
  font-size: 1.5em;
  color: var(--white);
}

.hero__section {
  width: 100%;
}

.heading {
  font-size: 2.5em;
  font-weight: 800;
  color: var(--white);
  line-height: 40px;
  margin: 20px 0 10px 0;
}

.subHeading {
  color: var(--white);
  font-weight: 300;
  font-size: 1.1em;
  line-height: 20px;
  margin-bottom: 40px;
}

.lottie {
  display: none;
}

.lottie__1 {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

@media only screen and (min-width: 822px) {
  .wrapper {
    display: flex;
    align-items: center;
    height: 70vh;
  }
  .mainBody {
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .hero__section {
    width: 75%;
    margin-right: 4em;
  }

  .heading {
    line-height: 60px;
  }
  .lottie {
    display: block;
    position: absolute;
    top: 22em;
    left: 2em;
  }

  .lottie__1 {
    display: block;
    position: absolute;
    top: -50px;
    right: 0;
  }
}
