@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap");

:root {
  --orange: #ffa500;
  --primary: #0a0c21;
  --secondary: #2e3192;
}

* {
  font-family: "Poppins", sans-serif;
}
body {
  min-height: rgb(120, 119, 138);
  background: var(--primary);
  margin: 0;
  padding: 0 0 20px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
